<%- include('../partials/header'); %>

<main>
    <section class="container my-5">
        <article class="row mt-5">
            <div class="col-4 ">
                <h1>Livros</h1>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi et nam numquam tenetur
                    enim vitae eligendi facilis, facere aliquid sunt saepe perferendis ullam distinctio. Quos
                    aperiam quis facere dolorem corporis eligendi illo. Iste dolores fugiat repudiandae voluptatum
                    ad, sit ab sunt sapiente! Tenetur corporis doloribus, delectus, libero vel quidem excepturi non
                    dignissimos tempora repellendus aperiam adipisci est maxime modi molestiae recusandae eaque,
                    deleniti repellat quam saepe nihil. Debitis maxime amet, blanditiis expedita nobis vitae, fuga
                    alias ad dignissimos totam nihil. Sed hic omnis doloremque in ea asperiores sint, praesentium,
                    vel commodi eveniet, nisi distinctio labore animi consectetur repellendus reprehenderit.
                </p>
            </div>
            <div class="col-4 ">
                <h1>Livros</h1>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi et nam numquam tenetur
                    enim vitae eligendi facilis, facere aliquid sunt saepe perferendis ullam distinctio. Quos
                    aperiam quis facere dolorem corporis eligendi illo. Iste dolores fugiat repudiandae voluptatum
                    ad, sit ab sunt sapiente! Tenetur corporis doloribus, delectus, libero vel quidem excepturi non
                    dignissimos tempora repellendus aperiam adipisci est maxime modi molestiae recusandae eaque,
                    deleniti repellat quam saepe nihil. Debitis maxime amet, blanditiis expedita nobis vitae, fuga
                    alias ad dignissimos totam nihil. Sed hic omnis doloremque in ea asperiores sint, praesentium,
                    vel commodi eveniet, nisi distinctio labore animi consectetur repellendus reprehenderit.
                </p>
            </div>
            <div class="col-4 ">
                <h1>Livros</h1>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi et nam numquam tenetur
                    enim vitae eligendi facilis, facere aliquid sunt saepe perferendis ullam distinctio. Quos
                    aperiam quis facere dolorem corporis eligendi illo. Iste dolores fugiat repudiandae voluptatum
                    ad, sit ab sunt sapiente! Tenetur corporis doloribus, delectus, libero vel quidem excepturi non
                    dignissimos tempora repellendus aperiam adipisci est maxime modi molestiae recusandae eaque,
                    deleniti repellat quam saepe nihil. Debitis maxime amet, blanditiis expedita nobis vitae, fuga
                    alias ad dignissimos totam nihil. Sed hic omnis doloremque in ea asperiores sint, praesentium,
                    vel commodi eveniet, nisi distinctio labore animi consectetur repellendus reprehenderit.
                </p>
            </div>
        </article>

    </section>
</main>

<%- include('../partials/footer'); %>